<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Farmers site</title>
</head>
<body>

  <div class="header">
    <div class="inner_header">
      <div class="logo_container" >
          <h1>Farmer's<span>SITE</span></h1>
      </div>
      <ul class="navigation">
        <a href="#home"><li>Home</li></a>
        <a href="#about-us"><li>About</li></a>
        <a href="#contact-us"><li>Contact</li></a>
        <a href="#gallery"><li>Gallery</li></a>
      </ul>
    </div>
  </div>
  
  <div  class="left_side_links"> 
    <h1>The Famers's Site</h1>
    <h2>WELCOME TO DATA CONTROL CENTER</h2>
    <hr>
    <a href="admin.html"><li>Admin</li></a>
    
    <a href="collector.html"><li>Collector</li> </a>
    
    <a href="Fm.html"><li>Manager</li> </a>
  </div><br>
 <img src="images/farm3.jpg" alt="Field"> </img>
</body>

<div class="footer">
    <section id="footer">
      <a href="#"></i> Help |</a>
  <a href="#">Donate |</a> 
  <a href="#">Terms & Conditions |</a> 
  <a href="#">Contact Us |</a>
  <a href="mailto:#.com">Email </a>
    </section>
  </div>
</html>